 body{
            background-image:url('images.png/Background.jpg');
             background-size: cover; 
             background-repeat: no-repeat; 
             background-attachment: fixed;
        }
        h1,p{
            color:beige;
            text-align: center;
            font-size:3em;
        }